body {
  text-align: center;
  background-color: #011F3F;
}
h1 {
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-size: 3rem;
  margin: 5%;
}
.btn{
  width: 200px;
  height: 200px;
  border: 10px solid black;
  border-radius: 20%;
  margin: 25px;
  display: inline-block;
}
.green{
background-color: green;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.click{
  background-color: grey;
  box-shadow: 0px 2px 25px white;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}
